body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

.loading {
  color: blue;
  margin-top: 15px;
}

.error {
  color: red;
  margin-top: 15px;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  margin: 10px 0;
}

.weather-info h3 {
  font-size: 32px;
  margin: 10px 0;
}